---
const pageTitle = "Sobre MONEDEROH";
const identidad1 = {
  nombre: "Laia",
  ciudad: "Barcelona",
  profesion: "Desarrolladora Web",
  hobbies: ["costura", "patinaje", "lectura"],
  
};
const habilidades1 = ["girar un pie","aprender idiomas"];
const identidad2 = {
  nombre: "Paula",
  ciudad: "Albacete",
  profesion: "Arquitecta paisajista",
  hobbies: ["costura", "natación", "películas de zombies"],
  
};
const habilidades2 = ["orden","cuidar de las plantas", "paciencia"];
const habilidades = true;
const numeroDeHobbies = 4;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>- MONEDER0H : {pageTitle} - </title>
  </head>
  <body>

  <h1>{pageTitle}</h1>
  <nav>
     <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
  <h2>Quiénes somos</h2>
  
  <p>Somos Paula y Laia. Las primicas Monedero, "las rubiales" (aunque ya sólo quede una rubia), las de "víctor el de antoñico", las de las Piqueras, las de Maria Josefa, la "greenpí" y su prima. </p>
  <p>En 2023 Laia soñó que encontraba a Paula paseando una burra cargada de faldas por Madrid (donde vivía en aquella época). En el sueño Paula le decía que las había cosido ella y que iba a venderlas al parque del Retiro. Resultó que Paula no tenía una burra llena de faldas, pero sí que (fíjate tú que casualidad..) como Laia, acababa de recojer su máquina de coser en el taller porqué estaba deseando hacerse su propia ropa.</p>

  <ul>
    <li>{identidad1.nombre}
      <ul>
        <li>ciudad: {identidad1.ciudad}</li>
        <li>profesión: {identidad1.profesion}</li>
        <li>hobbies:<ul>
          
          {identidad1.hobbies.length >= 3 &&
    <li>{identidad1.hobbies[0]} </li>
    <li> {identidad1.hobbies[1]}</li>
     <li> {identidad1.hobbies[2]}</li>
  }
  { numeroDeHobbies === 3 ? '' : <li>etc</li> }
        </ul>
          </li>
          {habilidades &&
          <li>habilidades:
            <ul>
              {habilidades1.map((skill) => <li>{skill}</li>)}
            </ul>
          </li>
          }
      </ul>
    </li>
    <li>{identidad2.nombre}
      <ul>
        <li>ciudad: {identidad2.ciudad}</li>
        <li>profesión: {identidad2.profesion}</li>
        <li>hobbies:<ul>
          
          {identidad2.hobbies.length >= 3 &&
    <li>{identidad2.hobbies[0]} </li>
    <li> {identidad2.hobbies[1]}</li>
    <li> {identidad2.hobbies[2]}</li>
  }
  { numeroDeHobbies === 3 ? '' : <li>etc</li> }
        </ul>
          </li>
          {habilidades &&
          <li>habilidades:
            <ul>
              {habilidades2.map((skill) => <li>{skill}</li>)}
            </ul>
          </li>
          }
      </ul></li>
  </ul>
  
</body>
</html>